<div class="container centered-box3">
  <%= link_to 'GET YOUR PURSE AND RUN FOR...', sample_sales_path, class:"title" %> 
  <br> 
  <div id="front_image" >
    <a href="/sample_sales"> <%= image_tag("sample-sale.jpg") %> </a>
  </div>    
</div>




