<td><%= link_to sample_sale.brand, sample_sale_path(sample_sale) %></td>
<td><%= link_to sample_sale.dates, sample_sale_path(sample_sale) %></td>
<td><%= link_to sample_sale.address, sample_sale_path(sample_sale) %></td>