@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


html,body{
  font-family: Roboto, helvetica;
  background-color: grey;
  overflow: auto;
  height:100%; margin:0;padding:0  
}

.center-box{
  background-color: black;
}

/*************************     
  Home page
*************************/

#front_image{
  overflow: auto;
}

.block {
  text-align: center;
  background: #242529;
  /*border: #a0a0a0 solid 1px;*/
  /*#c0c0c0;*/
}
 
.block:before {
  content: '\200B';
  content: '';
  margin-left: -0.25em; 
  display: inline-block;
  height: 100%; 
  vertical-align: middle !important;
 }
 
.centered {
  display: inline-block;
  vertical-align: middle !important;
  /*width: 300px;*/
  width: 100%;
  /*padding: 10px 15px;*/
  /*border: #a0a0a0 solid 1px;*/
/*  background: #f5f5f5;*/
 }  

 .white {
    /*background: #f5f5f5;*/
 }
 .right-block {
  padding:0;
  background-color: #CCCCCC;
  min-height: 723px;
 }
.left-block{
  padding: 0;
  background-color: #18191B;
  min-height: 723px;
}

.goneBlack{
  background-color: black;
}

.image-box {
  position: relative;
  right: 50px;
}

a:hover{
  text-decoration: none;
  color: white;
}
a{
  color: #bababa;
}


.menu a{
  position: relative;
  top : 150px;
}
.menu .logo {
  color: white;
  position: relative;
  top : 60px;

}
.meny:hover {
  color: white;
}


/**************************
/ samplesale page
***************************/

.centered-box{
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   height: 50%;
   text-align: center;

}

.centered-box3{
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   height: 80%;
   text-align: center;
   margin-top: 100px;
   background-color: black;
}


.sample-sales{
/*  width: 45%;*/
  height: 723px;
  overflow: scroll;
  padding: 15px;
  padding-top: 10px;
}

.right{
  float: right;
}

.left {
  float: left;
}

.center{
  text-align: center;
}

.like_before {
  font-size: 25px;
  color: grey;
}

.like_after {
  font-size: 25px;
  color: white;
}

.dislike_before {
  font-size: 25px;
  color: grey;
}

.dislike_after {
  font-size: 25px;
  color: black;
}

.total{
  position: relative;
  left: 15px;
}

.total2{
  position: relative;
  left: 12px;  
}

.brand{
  font-size: 60px;
  margin-top: 30px;
}

.title{
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-top: 100px;
  position: relative;
  top: 60px;
}


.center alert{
  margin-top: 50px;
  top: 50px;
  color: #D9534F;
}

.addToList{
/*  background-color: #CCCCCC;*/
background-color: grey;
}



.navbar-inverse li a{
  
  color: #ddd;
}

.navbar-inverse li {
  color: #ddd;
}

#email{
  position: relative;
  top:75px;
  color: white;
}

.navbar-inverse li a:hover{
  background-color: grey;
  color: white;
}



.btn-success {
    color: #5cb85c;
    background-color: #fff;
    border-color: #5cb85c;
    font-weight: bold;
}

.btn-info {
    color: #5bc0de;
    background-color: #fff;
    border-color: #5bc0de;
    font-weight: bold;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    font-weight: bold;
}

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}


table{
 height:300px;              
 display: -moz-groupbox;   
}

tbody {
  overflow-y: scroll;      
  height: 660px;           
  width: 94.5%;
  position: absolute;
  background-color: #CCCCCC;
}


tbody a {
  color: black;
}

#submit-buttons{
  position: absolute;
  bottom: 0;
  right: 30px;
  bottom: 10px;
  z-index: 10;
}


.mylist a {
  font-size: 14px;
}

.mylist td{
  /*padding-left: 1px !important;
  padding-right: 1px !important;*/
}

.mylist tr td:nth-child(2) a{
  font-size: 12px !important;
}
/**************************
/ List
***************************/


#map{
  /*position: absolute;*/
  /*overflow: hidden; */
  /*bottom: 0;*/
  height: 480px;
  width: 100%;
}


.editDelete{
  position: relative;
  right: 16px;
  bottom: 10px;
}

#head_brand{
  width: 100px;
  text-align: center;
}

#brand_name {
  width: 100px;
}

#head_about {
  width: 180px;
  text-align: center;
}

#about{
  width: 180px;
}

#head_dates {
  width: 80px;
  text-align: center;
}

#dates{
  width: 80px;
}

#head_hours {
  width: 80px;
  text-align: center;
}

#hours {
  width: 80px;
}

#head_address {
  width: 80px;
  text-align: center;
}

#address{
 width: 80px; 
}

#head_memo {
  width: 180px;
  text-align: center;
}

#memo{
  width:180px;
}

#head_delete {
  width: 30px;
}

#delete{
  width: 30px;
  border-left: 2px solid #D3D3D3;
  vertical-align: middle;
}

.delete{
  color: grey;

}

#detail_view{
  height: 560px;
  width: 100%;
}

/**************************
/ Show
***************************/

#show_dates {
  width: 80px;
}
#show_hours {
  width: 80px;
}

#aboutInShow{
  width: 180px;
  font-size: 12px;
}

.show_address{
  width: 100px !important;
}

.show_header_about{
  width: 180px;
}

.show_header_dates{
  width: 80px;
}

.show_header_hours {
  width: 80px;
}

.show_header_address {
  width: 100px;
}

#submit{
  text-align: left;
  /*margin-left: 6px;*/
}

.memo textarea{
  width: 100% !important;
}